body {
    background-color: #eeeeee;
}
.todo-app {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.todo-app__task {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.todo-app__task--personal {
    background-color: red;
}

.todo-app__task--business {
    background-color: blue;
}

.todo-app__checkbox {
    margin-right: 10px;
}

.todo-app__text {
    flex-grow: 1;
}

.todo-app__edit, .todo-app__delete {
    margin-left: 10px;
    cursor: pointer;
}

.todo-app__heading{
    font-size: 2rem;
    color: #2B2D23;
    display: inline;
}

.todo-app__input{
    border: none;
    font-size: 2rem;
    background: none;
    color: #2B2D23;
    /* width: 100%; */
}

.todo-app__input:focus{
    border: none;
    outline: none;
}